.header_container {
    display: flex;
    justify-content: space-between;
    padding: 50px 75px;

    .logo_container {
        height: 75px;
    }

    nav {
        display: flex;
        .link {
            margin-left: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

@media (max-width: 640px) {
    .header_container {
        padding: 15px 25px;

        .logo_container {
            height: 50px;
        }
    }
}